*{
	box-sizing:content-box;
}
.container{
	width: 100%;
	height: auto;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.parents-elements{
	display: flex;
	width: 90%;
	margin: 0 5%;
	flex-wrap:nowrap;
}
.main-container{
	width: 70%;
	margin: 0 15%;
}
.main-boxs{
	display: flex;
	width: 100%;
	margin:2px 0;
	justify-content: center;
}
.box{
	height: 200px;
	margin: 0 2px;
	width: 200px;
	background-color: #0cddd1;
}
.x-o{
	align-self: center;
}
.x{
	text-align: center;
	padding: 50px;
	background-color: #ff0000;
}

.o{
	text-align: center;
	padding: 50px;
	background-color: #ffff00;
}