@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
body{
    position: relative;
}
html {
    scroll-behavior: smooth;
  } 
a:hover{
    color: #cde1f8;
}
/*slider*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height:100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}
#owl-demo .item{
    height:80vh;
}
.owl-controls{
    position: absolute;
    top:90%;
    left:46%;
    transform: translate(-50,-50%);
}
/*slider*/
/*about*/
.sina-photo img{
    width:90%;
    height:150px;
    border-radius:20px;
    margin:30px 0;
}
.progress{
    padding:8px;
    height: 20px;
}
.pro-container{
    width:100%;
    height:15px;
    background-color:#cde1f8;
}
.pro-main{
    height:15px;
}
.pro80{
    width:80%;
}
.pro75{
    width:75%;
}
.pro30{
    width:30%;
}
.pro45{
    width:45%;

}
.pro-start{
    height:100%;
    background-color:#0078ff;
    animation: progress-bar 4s;
    animation-fill-mode: forwards;
}
    @keyframes progress-bar{
        from{
            width: 0%;
        }
        to{
            width: 100%;
        }
    }
#about p{
    text-align: justify;
}
/*end about*/
.line{
    height: 5px;
    width: 70%;
    background-color: #d95ffc;
    margin: 2% 15%;
    border-radius: 100%;
}






    @media screen and (max-width: 600px){
        #about{
            display: flex;
            flex-wrap: wrap;
            font-size: 14px;
        }
    }
/*scroll to top and btn*/
.scroll-top{
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height:50px;
    background-color: #0078ff;
    border-radius: 25px;
    display: none;
    animation: btn-scroll .5s;
    animation-fill-mode: forwards;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 80;
    color: #cde1f8;
}
@keyframes btn-scroll{
    from{
        bottom: -5%;
    }
    to{
        bottom: 5%;
        right: 5%;
    }
}
.scroll-whatsapp{
    cursor: pointer;
    position: fixed;
    bottom: 12%;
    right: 5%;
    width: 50px;
    height:50px;
    background-color: #0078ff;
    border-radius: 25px;
    display: none;
    animation: btn-scroll-what .5s;
    animation-fill-mode: forwards;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 80;
    color: #cde1f8;
}
.scroll-top:hover{
    background-color: #7122bb;
    transition: .5s;
}
.scroll-whatsapp:hover{
    background-color: #7122bb;
    transition: .5s;
}
@keyframes btn-scroll-what{
    from{
        bottom: -5%;
    }
    to{
        bottom: 12%;
        right: 5%;
    }
}
.scroll-top i{
    margin: 16px 18px;
}
.scroll-whatsapp a{
    color: #cde1f8;
    text-decoration: none;
    margin: 9px 12px;
}
/*scroll to top and btn*/
/* service start*/
.background-img{
    background-image: url(Image/wall2.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.main-service{
	height:600px;
	width:100%;
	flex-wrap: wrap;
}
.serv-box{
    margin:20px 40%;
    width:20%;
    height:20%;
    border:5px solid #0078ff;
    border-radius:50%;
    transition:3s;
    position:relative;
}
.col-box-left{
    animation: box-anim-left 2s;
    position:relative;
}

.col-box-right{
    animation: box-anim-right 2s;
    position:relative;
}
@keyframes box-anim-left{
    from{
        left:-100%;
    }to{
        left:0;
    }
}
@keyframes box-anim-right{
    from{
        right:-100%;
    }to{
        right:0;
    }
}
.serv-box:hover{
  transform: rotatey(360deg);
}
.serv-box .offers{
	position:absolute;
	transform:translate(-50%,-50%);
	top:50%;
	left:50%;
}