@charset "utf-8";
/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&display=swap');
  .acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Kalam:wght@300;400;700&family=Pacifico&display=swap');
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
/* fonts*/
:root{
    --primery-color:#3454d1;
    --secondery-blue-color:#34d1bf;
    --ourlight-color:#efefef;
    --dark-color:#070707;
    --pink-color:#d1345b;
}
.bg-custom-light{
    background-color: var(--ourlight-color);
}
.bg-primery{
    background-color:var(--primery-color)!important;
}
.bg-ourLight{
    background-color:var(--ourlight-color)!important;
}
.linear-color{
    background-image: linear-gradient(90deg,var(--primery-color),var(--pink-color),var(--secondery-blue-color));
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
.bg-glass{
    background-color: #efefef8a;
}
.font-style{
    font-size: 30px;
    color: var(--primery-color);
}
.btn-custom{
    background-color: var(--primery-color);
    color: var(--ourlight-color);
    border-radius:  5px;
    border: 1px solid;
}
.btn-custom:hover{
    background-color: var(--ourlight-color);
    color: var(--primery-color);
}

.picture-fit{
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    #content1,#content2,#content3{
        font-size: 8px !important;
        width: 150px !important;
        height: 100px !important;
        top:20% !important;
    }
    /* @keyframes content1 {
        from{
        left: -100vw;
        }to{
        left: 100px !important;
        }
    }
  @keyframes content2 {
    from{
    left: -100vw;
    }to{
    right: 100px !important;
    }
    }
    @keyframes content3 {
        from{
        left: -100vw;
        }to{
        left: 100px !important;
        }
    } */
    .btn{
        font-size:12px !important;
    }
}
/*slider animation*/
#slider{
    height: 600px;
    object-fit:cover ;
}
.slider-animation{
    animation: fadein 2s;
    opacity: 0;
}
@keyframes fadein{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.slider-content{
    display: none;
    position: absolute;
}
#content1{
    text-align: justify;
    width: 400px;
    height: 300px;
    font-size: 1.5rem;
    animation: content1 1s;
    top:35%;
    left: -100vw;
    animation-fill-mode: forwards;
}
@keyframes content1 {
    from{
    left: -100vw;
    }to{
    left: 35vw;
    }
}
#content2{
    text-align: justify;
    width: 300px;
    font-size: 1.5rem;
    animation: content2 1s;
    top:35%;
    right: -100vw;
    animation-fill-mode: forwards;
}
@keyframes content2 {
    from{
    left: -100vw;
    }to{
    right:50vw;
    }
}

#content3{
    text-align: justify;
    width: 300px;
    font-size: 1.5rem;
    top:35%;
    left:-1000px;
    animation: content3 1s;
    animation-fill-mode: forwards;
}
@keyframes content3 {
    from{
    left: -1000px;
    }to{
    left: -200px !important;
    }
}

/*slider animation*/
.line{
    width: 80%;
    height: 5px;
    margin: 5% 10%;
    background-color: var(--primery-color);
    border-radius: 50%;
}
/*my style start*/
.inner-box1{
    background-color: var(--secondery-blue-color);
    width: 100px;
    height: 130px;
    border-radius: 25px;
    left: 136px;
    top: 234px;
    position: absolute;
}
.circle{
    background-color: var(--secondery-blue-color); 
    border-radius: 50%; 
    width: 150px;
    height: 150px;

}
/* my style end*/
/*strat product slider*/
.mybackground{
    background-color: var(--primery-color);
    border-radius: 50px;
}
.bg-custom{
    border-radius: 50px;
background: #fff;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.main-box{
padding: 20px;
border-radius: 50px;
border-radius: 50px;
background-image:linear-gradient(45deg,var(--pink-color),var(--secondery-blue-color),var(--primery-color));
box-shadow: inset 10px 10px 20px #bebebe,
            inset -10px -10px 20px #ffffff;
}
.image-con{
    width:200px;
    height: 150px;
}
.main-container{
    overflow-x: scroll;
    height: 350px;
    padding: 20px;
}
.main-container::-webkit-scrollbar{
    -webkit-appearance: none;
    background-color: var(--ourlight-color);
    border-radius: 25px;
    left: 136px;
    top: 64px;
    position: absolute;
    height: 10px;
}
.main-container::-webkit-scrollbar-thumb{
    background-color: var(--primery-color);
    border-radius: 25px;
}
.product-content{
    width: 100%;
    display: block;
}
.content-box{
    height: 80%;
    color: var(--dark-color);
}
#add-Card{
    background-color: var(--primery-color);
    color: var(--ourlight-color);
}
#add-Card:hover{
    background-color: var(--secondery-blue-color);
}
.image-product{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid var(--primery-color);
    box-shadow:  3px 3px 10px var(--primery-color),
    -3px -3px 10px var(--primery-color);
}
.qntNum{
    width: 50% !important;
    height: 34px;
    outline: var(--secondery-blue-color) !important;
    border:1px solid  var(--primery-color) !important;
}
/*end product slider*/
/*strat modal*/
.container-modal{
    top: -100%;
margin:0 25% !important;
padding: 20px;
    width: 50% !important;
    position: absolute;
    background-image: linear-gradient(45deg,var(--secondery-blue-color),var(--ourlight-color),var(--pink-color),var(--primery-color));
    border-radius: 50px;
    box-shadow: inset 20px 20px 44px #bebebe,
            inset -20px -20px 44px #ffffff;
    backdrop-filter: blur(10px);
    display: none;
}
.modal-scroll{
    animation: scrollmodal 1s;
    animation-fill-mode: forwards;
}
@keyframes scrollmodal{
    from{
        top: -100%;
    }to{
        top: 2200px;
    }
}
.card-item-pic{
    width: 50px;
    height: 50px;
}
/*end modal*/
/*start footer*/
.footer{
    background-color: var(--primery-color);
}
.footer-box{
    margin: 5% 10%;
    width: 80%;
    height: 400px;
    max-height: 400px;
    background-image: linear-gradient(45deg,var(--secondery-blue-color),var(--ourlight-color),var(--pink-color),var(--primery-color));
    border-radius: 25px;
    box-shadow: inset 20px 20px 150px #bebebe,
    inset -20px -20px 150px #ffffff;
}
.copyRight{
    width: 100%;
    background-color: var(--primery-color);
    color: var(--ourlight-color);
}
/*end footer*/

/*scroll to top*/
.scroll-top{
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height:50px;
    background: var(--primery-color);
    box-shadow:  5px 5px 20px var(--primery-color),
             -5px -5px 20px var(--primery-color);
    border-radius: 25px;
    display: none;
    animation: btn-scroll .5s;
    animation-fill-mode: forwards;
    z-index: 80;
    color: #cde1f8;
}
.scroll-top i{
    margin: 16px 0;
}
@keyframes btn-scroll{
    from{
        bottom: -5%;
    }
    to{
        bottom: 5%;
        right: 5%;
    }
}
/*scroll to top*/